@import '../../../app/mixins';

.title {
    width:fit-content;
    height: fit-content;
    font-size: 18px;
    font-weight: 700;
    color: $black;
    text-transform: uppercase;
    letter-spacing: 0.9px;

    @include media_laptop {
        font-size: 16px;
    }
}