@import '../../../app/mixins';

.followZone {
    width: 353px;
    height: fit-content;
    @include flex (start, start, column);
    row-gap: 15px;

    @include media_tab_landscape {
        width: 260px;
    }

    .descri {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.9px;
        color: $black-50;
        width: 100%;
    }

    .container_logo {
        width: fit-content;
        height: fit-content;
        @include flex (start, center, row);
        column-gap: 13px;

        .link {
            transition: 0.25s ease;

            &:hover {
                opacity: 0.25;
                transition: 0.25s ease;
            }

            @media (hover : none) and (pointer : coarse) {
                &:active {
                    opacity: 0.5;
                }

                &:not(:active) {
                    opacity: 1;
                }
            }
        }
    }
}