@import '../../../../app/mixins';

.hero {
    width: 100%;
    height: 798px;
    background-image: url('/Image/Dashboard/hero.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 150px;
    @include flex(center, start, column);
    row-gap: 25px;

    @include media_desktop {
        padding: 0 85px;
    }

    @include media_laptop {
        padding: 0 45px;
        background-image: url('/Image/Dashboard/hero992.png') !important;

    }

    @include media_mobile {
        background-image: url('/Image/Dashboard/hero_mobile.png') !important;
    }

    @include media_mobile {
        padding: 0 20px;
    }

    h1 {
        max-width: 900px;
        height: fit-content;
        font-size: 68px;
        font-weight: 800;
        letter-spacing: text-space(68, 4);
        color: $white;
        text-transform: uppercase;

        span {
            color: $red;
        }

        .text_lower {
            text-transform: lowercase;
            color: $white;
        }


        @include media_laptop {
            font-size: 55px;
            max-width: 610px;
        }

        ;

        @include media_tab_landscape {
            font-size: 48px;
            ;
        }

        @include media_mobile {
            font-size: 36px;
        }

    }

    .descri {
        max-width: 592px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.9px;
        color: $white;

    }

    .banner_button {
        width: 100%;
        @include flex(start, start, row);
        column-gap: 32px;
        padding-bottom: 100px;

        .btn_contact_hero {
            width: fit-content;
            padding: 15px 60px;
            background-color: $red;
            color: $white;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.96px;
            border-radius: 2px;
            border: 1px $red solid;
            text-transform: capitalize;
            text-wrap: nowrap;

            &:hover {
                border-color: $white-80;
            }

            @include media_laptop {
                padding: 12px 30px;
                font-size: 14px;
            }
        }

        @include media_mobile {
            justify-content: space-between;
            column-gap: 0;
            flex-wrap: wrap;
            row-gap: 20px;
        }
    }
}