@import '../../../app/mixins';

.card_container {
    width: 358px;
    height: fit-content;
    padding: 15px;
    @include flex (center, start, column);
    row-gap: 10px;
    background-color: $white;
    border-radius: 2px;
    position: relative;

    &:hover {
        scale: 1.015;
        transition: ease 0.25s;
    }

    @include media_laptop {
        box-shadow: 0 6px 50px $black-25;
        width: 288px;

    }

    @include media_mobile{
        width: 315px;
    }

    .descri {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.9px;
        color: $black-40;

        @include media_laptop{
            font-size: 14px;
            letter-spacing: 0.24px;
        }
    }

}