@import '../../../app/mixins';

.wrapper_card {

    height: fit-content;
    padding: 15px;
    @include flex (start, center, column);
    row-gap: 10px;
    box-shadow: 0 0 60px $black-15;
    row-gap: 4px;
    width: 240px;
    position: relative;

    .promo {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 10px;
        width: 50px;
        height: 20px;
        @include flex(center, center,row);
        background-color: $red;
        color: $white;
        border-radius: 2px;
    }

    .image {
        width: 100%;
        // height: 275px;
        border-radius: 2px;

        // @include media_tab_portrait{
        height: 200px;
        // }
    }

    .info {
        @include flex (center, center, column);
        row-gap: 2px;

        .descri {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: text-space(14, 8);
            color: $black;
            text-align: center;
            text-transform: capitalize;
            font-style: italic
        }

        .in_stock {
            @extend .descri;
            color: #57E040;
            font-style: normal;
            font-size: 12px;
        }
    }
}