@import '../../../app/mixins';

.wrapper {
    @include flex (center, center, column);
    width: 100%;

    p {
        width: 100%;
        border-bottom: 1px solid $black-10;
        padding: 10px 0;
    }

    .question {
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 0.9px;
        color: $black;
        cursor: pointer;
        text-transform: uppercase;

        @include media_tab_portrait {
            font-size: 18px;
        }

        @include media_mobile {
            font-size: 17px;
        }

        &:hover {
            background-color: $black-02;
        }

        @media (hover : none) and (pointer : coarse) {
            &:active {
                background-color:$black-02;
            }

            &:not(:active) {
                background-color: transparent;
            }
        }
    }

    .response {
        text-align: left;
        font-size: 18px;
        color: $black-40;
        letter-spacing: 0.9px;
        font-weight: 600;

        padding: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;

        @include media_tab_portrait {
            font-size: 16px;
        }

        @include media_mobile {
            font-size: 14px;
        }
    }
}