@import '../../../app/mixins';

.primary {
    width: fit-content;
    padding: 15px 60px;
    background-color: $red;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: text-space(16, 6);
    border-radius: 2px;
    border: 1px $red solid;
    text-transform: capitalize;
    text-wrap: nowrap;
    @include flex(center, center, row);

    &:disabled {
        color: $black-50;
        border-color: $black-25;
        background-color: transparent;

        &:hover {
            color: $black-50;
            border-color: $black-25;
            background-color: transparent;
        }

        @media (hover: none) and (pointer: coarse) {
            &:active {
                color: $black-50;
                border-color: $black-25;
                background-color: transparent;
            }

            &:not(:active) {
                color: $black-50;
                border-color: $black-25;
                background-color: transparent;
            }
        }
    }

    &:hover {
        color: $white;
        background-color: $red-90;
        border-color: $red-90;
        transition: 0.25s ease-in-out;
        background-image: none;
    }

    @media (hover: none) and (pointer: coarse) {
        &:active {
            color: $white;
            background-color: $red-90;
            border-color: $red-90;
        }

        &:not(:active) {
            background-color: $red;
            border: 1px $red solid;
        }
    }

    @include media_laptop {
        padding: 12px 30px;
        font-size: 14px
    }
}

.secondary {
    @extend .primary;
    color: $white;
    border-color: $white;
    background-color: $black-10;
    background-color: transparent;

    &:hover {
        border-color: $white;
        background-color: $black-10;
        background-color: transparent;
    }

    @media (hover: none) and (pointer: coarse) {
        &:active {
            border-color: $white;
            background-color: $black-10;
            background-color: transparent;
        }

        &:not(:active) {
            border-color: $white;
            background-color: $black-10;
            background-color: transparent;
        }
    }
}

.third {
    @extend .primary;
    border: none;
    background-color: transparent;
    background-image: linear-gradient(to right, $white, $red-10 , $red-10 );
    color: $red-90;

    @media (hover: none) and (pointer: coarse) {
        &:not(:active) {
            border: none;
            background-color: transparent;
            background-image: linear-gradient(to right, $white, $red-10 , $red-10 );
            color: $red-90;
        }
    }
}

.fourthly {
    @extend .primary;
    color: $black-50;
    border-color: $black-25;
    background-color: transparent;

    @media (hover: none) and (pointer: coarse) {
        &:active {
            border-color: $white;
            background-color: $black-10;
            background-color: transparent;
        }

        &:not(:active) {
            border-color: $black-25;
            color: $black-50;
            background-color: transparent;
        }
    }
}