@import '../../../app/mixins';

.primary {
    width: fit-content;
    padding: 15px 60px;
    background-color: $red;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: text-space(16, 6);
    border-radius: 2px;
    border: 1px $red solid;
    text-transform: capitalize;
    text-wrap: nowrap;
    @include flex(center, center, row);

    &:hover {
        background-color: $red-90;
        border-color: $red-90;
        color: $white;
    }

    @include media_laptop {
        padding: 12px 30px;
        font-size: 14px
    }
}

.addBasket {
    @extend .primary;
    padding: 12px 30px;
    font-size: 14px
}

.secondary {
    @extend .primary;
    color: $white;
    border-color: $white;
    background-color: $black-10;

    &:hover {
        background-color: transparent;
        border-color: $white;
    }
}

.third {
    @extend .primary;
    border: 1px solid transparent;
    background-color: #ff00000f;
    // background-color: $gray-35;
    color: $red-secondary;
}

.fourthly {
    @extend .primary;
    color: $black-50;
    border-color: $black-25;
    background-color: transparent;
}