$white : #fff;
$red : #E11D07;
$red-83 : rgba(225, 29, 7, 0.83);
$black-40 : rgba(0, 0, 0, 0.45);
$black-15 : rgba(0, 0, 0, 0.15);
$black-25 : rgba(0, 0, 0, 0.25);
$black-50 : rgba(0, 0, 0, 0.50);
$black-75 : rgba(0, 0, 0, 0.75);
$black-secondary : rgba(49, 39, 39, 0.82);
$gray : #D9D9D9;

@function text-space ($sizeValue, $valueP) {
    @return ((($sizeValue * $valueP)/100)*1px)
};

@mixin flex ($content, $items, $direction) {
    display: flex;
    justify-content: $content;
    align-items: $items;
    flex-direction: $direction;
}

