@import '../../../../app/mixins';


.popular {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    @include flex (start, start, column);
    row-gap: 10px;
    padding-bottom: 20px;

    .title {
        padding-left: 90px;

        @media (min-width : 1441px) {
            padding-left: 150px;
        }

        @include media_desktop {
            padding-left: 80px;
        }

        ;

        @include media_laptop {
            padding-left: 45px;
        }

        @include media_mobile {
            padding-left: 20px;
        }
    }

    .swiper {
        width: 100%;
        padding: 50px;

        @media (min-width : 1441px) {
            padding: 50px 100px;
        }

        @include media_desktop {
            padding: 50px;
        }

        @include media_tab_portrait {
            padding: 50px 8px;
        }

        @include media_mobile {
            padding: 50px 0;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: $red;

            @include media_laptop {
                display: none;
            }

        }

        .swiper-button-prev {
            left: 25px;
            background-image: url('/arrowLeft.svg');
            background-repeat: no-repeat;
            background-size: 65%;

            &::after {
                content: '';
            }

            @include media_desktop {
                left: 15px;
                background-size: 50%;
            }
        }

        .swiper-button-next {
            right: 25px;
            background-image: url('/arrowRight.svg');
            background-repeat: no-repeat;
            background-size: 65%;
            &::after {
                content: '';
            }
            @include media_desktop {
                right: 15px;
                background-size: 50%;
            }
        }

    }
}