@import '../../mixins';


.container {
    @apply w-screen relative grid grid-cols-2 justify-items-center;
    padding: 50px;

    @media (min-width : 1441px) {
        padding: 50px 150px;
    }

    @include media_tab_portrait {
        padding: 50px 0;
    }

    @include media_mobile { 
        padding-left: 25px;
        padding-right: 25px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-bottom: 80px;

    }

    ;

   

    .descriZone {
        @apply w-fit h-fit flex flex-col;
        row-gap: 12px;
        max-width: 500px;
        padding-top: 36px;

        @include media_laptop {
            max-width: 350px;
        }

        @include media_tab_portrait {
            max-width: 300px;
        }

        @include media_mobile {
            width: 100%;
        }

        p {
            letter-spacing: 0.9px;

            @include media_laptop {
                font-size: 14px;
            }
        }

        .titleZone {
            @include flex(start, start, column);
            height: fit-content;

            h5 {
                font-size: 24px;
                font-weight: 800;
                letter-spacing: 0.9px;
                color: $black;
            }

            .category {
                font-size: 16px;
                font-weight: 500;
                color: $black-40;
                text-transform: capitalize;
            }
        }

        .price {
            font-size: 16px;
            font-weight: 500;
            color: $black;
            text-transform: capitalize;
            width: fit-content;
            @include flex(start, center, row);
            column-gap: 20px;

            .number {
                font-size: 25px;
                font-weight: 700;
                color: $red-secondary;

                .lower {
                    font-size: 22px
                }
            }
        }

        .advantageZone {
            @apply w-fit h-fit flex flex-col;
            row-gap: 12px;
            padding-top: 12px;

            .wrapper {
                @include flex (start, center, row);
                column-gap: 16px;

                p {
                    color: $black-40;

                    span {
                        color: $black;
                        font-weight: 600;
                    }
                }
            }
        }

        .descriItem {
            padding:12px 0;
            color: $black;
            letter-spacing: 0.9px;

            @include media_mobile {
                width: 100%;
            }
        }

        .view_similar {
            @include flex (start, center, row);
            letter-spacing: 0.9px;
        }

        .container_button_add {
            padding-top: 12px;
        }
    }
}