@import '../../../../app/mixins';

.opinion {
    width: 100%;
    background-image: url("/Image/Dashboard/opinion.png");
    background-repeat: no-repeat;
    background-size: cover;
    @include flex (center , center, row);
    padding: 80px 0;
    column-gap: 20px;

    @include media_tab_portrait {
        padding: 20px 45px;
        flex-wrap: wrap;
        overflow: auto;
        row-gap: 20px;
    }

    @include media_mobile {
        padding: 20px;
    }
}