@import '../../../../app/mixins';

.history {
    width: 100%;
    height: fit-content;
    padding: 100px 90px 80px;
    @include flex(center, start, column);
    row-gap: 10px;

    @media (min-width : 1441px) {
        padding: 100px 150px 80px;
    }

    @include media_desktop {
        padding: 100px 85px 80px;
    }

    @include media_laptop {
        padding: 100px 45px 80px;
    }

    @include media_mobile {
        padding: 80px 20px;
    }


    .wrapper {
        width: 100%;
        height: fit-content;
        @include flex(space-between, start, row);

        @media (min-width : 1441px) {
            justify-content: start;
            column-gap: 230px;
        }

        @include media_tab_landscape {
            column-gap: 20px;
        }

        @include media_mobile {
            flex-direction: column;
            row-gap: 20px;
        }

        .text_zone {
            width: 510px;
            height: fit-content;
            @include flex(start, start, column);
            row-gap: 23px;
            padding-top: 25px;

            @include media_tab_landscape {
                width: 100%;
            }

            h4 {
                font-size: 21px;
                font-weight: 800;
                color: $black-40;
                text-transform: capitalize;
                letter-spacing: text-space(21, 8);
            }

            .descri {
                width: 100%;
                font-size: 16px;
                font-weight: 400;
                color: $black-40;
                letter-spacing: 0.9px;

                @include media_laptop {
                    font-size: 14px;
                }
            }
        }

        .image {
            @include media_laptop {
                width: 325px;
            }

            @include media_tab_portrait {
                width: 300px;
            }
        }
    }
}